<div class="continentInfo">
    <img src="/continents/<%= continentPic %>" alt="Image of <%= rows[0].Continent %>" class="continentImage" height="300" width="300"/> 
        <div class="mainInfo">
            <div class="continent info">Continent:  <%= rows[0].Continent %> </div>
            <div class="region info">Region: <%= rows[0].Region %></div>
            <div class="localName info">Local Name: <%= rows[0].LocalName %> </div>
        </div>
</div>
<div class="addInfo">
    <div class="surfaceArea info">Surface Area: <%= rows[0].SurfaceArea %></div>
    <div class="indepYear info">Independence Year: <%= rows[0].IndepYear %></div>
    <div class="population info">Population: <%= rows[0].Population %></div>
    <div class="lifeExpectancy info">Life Expectancy: <%= rows[0].LifeExpectancy %></div>
    <div class="governmentForm info">Government Form: <%= rows[0].GovernmentForm %></div>
    <div class="headOfState info">Head Of State: <%= rows[0].HeadOfState %></div>
    <div class="capital info">Capital: <%= rows[0].capital %></div>
</div>


